body {
  font-family: 'Hind', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #333;
  background: #fafafa;
}

h2 {
  font-family: "Alegreya Sans";
  font-weight: 700;
}

.container {
  position: relative;
  max-width: $max-width;
  margin: 0 auto;
}

section {
  width: 70%;
  margin-left: 23%;
}

.browsehappy {
  margin: 0.2em 0;
  padding: 0.2em 0;
  color: #000;
  background: #ccc;
}

section + section {
  margin-top: 10em;
}

section:last-of-type {
  margin-bottom: 15em;
}

hr {
  width: 80%;
  height: 10px;
  margin-left: 15%;
}
