.reveal-modal {
  background-image: url(../images/texture.png);
  overflow: hidden;
}

.reveal-modal img {
  border: 0;
  box-shadow: #727272 0px 2px 4px 1px ;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.noshadow {
  box-shadow: none !important;
}

.padleft {
  padding-left: 10px !important;
}

.padright {
  margin-right: 10px !important;
}

.formdiv {
  background-image: url(../images/texture.png);
  opacity: .7;
  height: 100%;
  width: 100%;
}

form {

  *, *:before, *:after {
  box-sizing: content-box;
  }
  label {
    display: block;
    width: 25%;
    float: left;
  }
  input, textarea {
    font-family: 'hind';
    font-size: 20px;
    height: 25px;
    margin-bottom: 13px;
    resize: none;
    display: block;
    width: 75%;
    float: left;
    border-radius: 4px;
    box-shadow: #838383 0px 2px 4px 1px ;
  }
}

#message-input {
  height: 150px;
}

.contact-form {

  fieldset {
    border: none;
    width: 100%;
    float: left;
  }
}

.left-side-form {
  float: left;
  width: 50%;
}

.right-side-form {
  width: 50%;
  float: right;
}

.modal-testimonial {
  font-size: 16px;
  font-weight: 600;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 25px;
}
.modal-testimonial-name {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  font-weight: bold;
  text-align: right;
  margin-top: 25px;
}
.modal-testimonial-location {
  text-transform: uppercase;
  font-size: 14px;
  font-style: italic;
  text-align: right;
}
