#stage {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  @include linear-gradient(to bottom, #85D3E7 0%, #C5EAF3 100%);
  background-image: url(/images/texture.png);
  z-index: $z-index-stage;
  @include fixed-position-bugfix();
}

#clouds {
  position: absolute;
  top: -10%;
  width: 100%;
  height: 25%;
}

@keyframes moveAcross {
  0% {
    transform: translate(100%);
  }
  100% {
    transform: translate(-20%);
  }
}

.cloud-wrapper {
  position: absolute;
}

.cloud {
  position: absolute;
  width: 20%;
  background-size: 100% 100%;

  &:after {
    padding-top: 75%; /* 4:3 ratio */
    display: block;
    content: '';
  }
}

.cloud1 {
  @extend .cloud;
  background-image: url(/images/cloud1.png);

  &:after {
    $aspect-ratio-cloud1: (584px/1112px);
    padding-top: percentage($aspect-ratio-cloud1);
  }
}

.cloud2 {
  @extend .cloud;
  background-image: url(/images/cloud1.png);

  &:after {
    $aspect-ratio-cloud2: (492px/945px);
    padding-top: percentage($aspect-ratio-cloud2);
  }
}

#page-footer {
  display: inline-block;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-height: 600px;
  pointer-events: none;

  .footer-extend,
  .footer-main,
  .footer-mountains,
  .two-trees {
    pointer-events: none;
    @include cover();
  }


  .centered {
    position: relative;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    max-width: 1024px;
    pointer-events: none;

    &:after {
      padding-top: percentage(600px/1024px);
      display: block;
      content: '';
    }

    .footer-main {
      background: url(/images/footer.svg);
      background-size: cover;
    }
    .footer-mountains {
      background: url(/images/footer_mountains.svg);
      background-size: cover;
    }
  }

  .footer-extend {
    background-image: url(/images/footer_extend.svg);
    background-repeat:no-repeat;
    background-position: center center;
  }
}

.tree-grow {
  display: none;
  .magellan-arrived-sustainability &,
  .magellan-arrived-services &,
  .magellan-arrived-contact & {
    display: block;
  }
}
#ani_left_tree_shrub { animation: ani1 .9s;}
@keyframes ani1 {
  0% { transform: translate(0px, 0px) scale(1, 0); }
  50% { transform: translate(0px, 0px) scale(1, 0); }
  70% { transform: translate(880px, 310px) scale(0, 0); }
  100% { transform: translate(0px, 0px) scale(1, 1); } }

#ani_left_tree_right_leaf { animation: ani2 1s; }
@keyframes ani2 {
  0% { transform: translate(0px, 0px) scale(1, 0); }
  50% { transform: translate(0px, 0px) scale(1, 0); }
  51% { transform: translate(0px, 300px) scale(1, 0); }
  100% { transform: translate(0px, 0px) scale(1, 1); } }

#ani_left_tree_middle_leaf { animation: ani2 1.1s; }

#ani_left_tree_trunk { animation: ani4 .7s; }
@keyframes ani4 {
  0% { transform: translate(0px, 425px) scale(1, 0); }
  100% { transform: translate(0px, 0px) scale(1, 1); } }

#ani_left_tree_left_leaf { animation: ani5 1.2s; }
@keyframes ani5 {
  0% { transform: translate(0px, 0px) scale(1, 0); }
  50% { transform: translate(0px, 0px) scale(1, 0); }
  51% { transform: translate(0px, 310px) scale(1, 0); }
  100% { transform: translate(0px, 0px) scale(1, 1); } }

#ani_right_tree_upper_right_leaf { animation: ani2 1.3s; }

#ani_right_tree_upper_left_leaf { animation: ani2 1.4s; }

#ani_right_tree_lower_leaf { animation: ani8 1.5s; }
@keyframes ani8 {
  0% { transform: translate(0px, 0px) scale(1, 0); }
  50% { transform: translate(0px, 0px) scale(1, 0); }
  51% { transform: translate(0px, 370px) scale(1, 0); }
  100% { transform: translate(0px, 0px) scale(1, 1); } }

#ani_right_tree_trunk { animation: ani9 .7s; }
@keyframes ani9 {
  0% { transform: translate(0px, 425px) scale(1, 0); }
  100% { transform: translate(0px, 0px) scale(1, 1); } }

.footer-links {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 17%;
  max-width: 1024px;
  pointer-events: auto;
}

.isa {
  position: absolute;
  width: 6.5%;
  top: 12%;
  left: 82%;
}

.tree-counter {
  position: absolute;
  text-align: center;
  font-size: .9em;
  color: #d9d9d9;
  width: 100%;
  top: 18%;
  cursor: inherit;
    @media (max-width: 650px) { font-size: .5em; }
}

.email-button {
  position: absolute;
  height: 20%;
  width: 5%;
  top: 56%;
  left: 41%;
  fill: #d9d9d9;
  cursor: pointer;
  pointer-events: auto;
}
.email-button:hover {  fill: #332822;  }

.testimonial-button {
  position: absolute;
  height: 20%;
  width: 10%;
  top: 56%;
  left: 28%;
  fill: #d9d9d9;
  cursor: pointer;
  pointer-events: auto;
}
.testimonial-button:hover {  fill: #332822;  }

.phone {
  position: absolute;
  height: 20%;
  width: 14%;
  top: 56%;
  left: 60%;
  fill: #d9d9d9;
  cursor: pointer;
  pointer-events: auto;
}
.phone:hover {  fill: #332822;  }

.g-plus {
  position: absolute;
  height: 20%;
  width: 4%;
  top: 56%;
  left: 48%;
  fill: #d9d9d9;
  cursor: pointer;
  pointer-events: auto;
}
.g-plus:hover {  fill: #df6c39;  }


.facebook {
  position: absolute;
  height: 20%;
  width: 4%;
  top: 56%;
  left: 54%;
  fill: #d9d9d9;
  cursor: pointer;
  pointer-events: auto;
}
.facebook:hover {  fill: #888e99;  }

