#stage {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  @include linear-gradient(to bottom, #85D3E7 0%, #C5EAF3 100%);
  background-image: url(/images/texture.png);
  z-index: $z-index-stage;
  @include fixed-position-bugfix();
}

#clouds {
  position: absolute;
  top: -10%;
  width: 100%;
  height: 25%;
}

@keyframes moveAcross {
  0% {
    transform: translate(100%);
  }
  100% {
    transform: translate(-20%);
  }
}

.cloud-wrapper {
  position: absolute;
}

.cloud {
  position: absolute;
  width: 20%;
  background-size: 100% 100%;

  &:after {
    padding-top: 75%; /* 4:3 ratio */
    display: block;
    content: '';
  }
}

.cloud1 {
  @extend .cloud;
  background-image: url(/images/cloud1.png);

  &:after {
    $aspect-ratio-cloud1: (584px/1112px);
    padding-top: percentage($aspect-ratio-cloud1);
  }
}

.cloud2 {
  @extend .cloud;
  background-image: url(/images/cloud1.png);

  &:after {
    $aspect-ratio-cloud2: (492px/945px);
    padding-top: percentage($aspect-ratio-cloud2);
  }
}

#page-footer {
  display: inline-block;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-height: 600px;
  pointer-events: none;

  * {
    pointer-events: auto;
  }

  .footer-extend,
  .footer-main,
  .footer-mountains,
  .two-trees {
    pointer-events: none;
    @include cover();
  }


  .centered {
    position: relative;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    max-width: 1024px;
    pointer-events: none;

    &:after {
      padding-top: percentage(600px/1024px);
      display: block;
      content: '';
    }

    .footer-main {
      background: url(/images/footer.svg);
      background-size: cover;
    }
    .footer-mountains {
      background: url(/images/footer_mountains.svg);
      background-size: cover;
    }
  }

  .footer-extend {
    background-image: url(/images/footer_extend.svg);
    background-repeat:no-repeat;
    background-position: center center;
  }
}

#ani_left_tree_shrub {
  animation: ani1 7s;
  animation-timing-function: ease-out; }
@keyframes ani1 {
  0% { transform: translate(0px, 0px) scale(1, 0); }
  50% { transform: translate(0px, 0px) scale(1, 0); }
  70% { transform: translate(880px, 310px) scale(0, 0); }
  100% { transform: translate(0px, 0px) scale(1, 1); } }

#ani_left_tree_right_leaf {
  animation: ani2 11s; }
@keyframes ani2 {
  0% { transform: translate(0px, 0px) scale(1, 0); }
  50% { transform: translate(0px, 0px) scale(1, 0); }
  51% { transform: translate(0px, 300px) scale(1, 0); }
  100% { transform: translate(0px, 0px) scale(1, 1); } }

#ani_left_tree_middle_leaf {
  animation: ani2 13s; }

#ani_left_tree_trunk {
  animation: ani4 8s; }
@keyframes ani4 {
  0% { transform: translate(0px, 425px) scale(1, 0); }
  100% { transform: translate(0px, 0px) scale(1, 1); } }

#ani_left_tree_left_leaf {
  animation: ani5 15s; }
@keyframes ani5 {
  0% { transform: translate(0px, 0px) scale(1, 0); }
  50% { transform: translate(0px, 0px) scale(1, 0); }
  51% { transform: translate(0px, 310px) scale(1, 0); }
  100% { transform: translate(0px, 0px) scale(1, 1); } }

#ani_right_tree_upper_right_leaf {
  animation: ani2 12s; }

#ani_right_tree_upper_left_leaf {
  animation: ani2 10s; }

#ani_right_tree_lower_leaf {
  animation: ani8 8s; }
@keyframes ani8 {
  0% { transform: translate(0px, 0px) scale(1, 0); }
  50% { transform: translate(0px, 0px) scale(1, 0); }
  51% { transform: translate(0px, 370px) scale(1, 0); }
  100% { transform: translate(0px, 0px) scale(1, 1); } }

#ani_right_tree_trunk {
  animation: ani9 4s ; }
@keyframes ani9 {
  0% { transform: translate(0px, 425px) scale(1, 0); }
  100% { transform: translate(0px, 0px) scale(1, 1); } }
